@import url('https://fonts.googleapis.com/css2?family=Changa:wght@700&family=Inter:wght@300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:wght@400;800&display=swap');
*{
    font-family: Merriweather;
}
body{
   max-width: 1320px;
   margin: auto;
}
header{
   display: flex;
   justify-content: start;
}

p{
   color: rgba(83, 73, 73, 0.8);
   text-align: center;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 32px; 
}
button{
   border-radius: 8px;
background: #F00;
border: none;
font-size: 20px;
padding: 16px 29px;
}
.container{
   background-image: url('../Banner\ Image.png');
    width: 825%;
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;  
}
 .container h5{
    color: #FFF;
    text-align: center;
    padding-top: 177px;
    font-size: 32px;
    font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.container h1{
   color: #FFF;
   width: 632px;
   text-align: center;
   padding-left: 300px;
   padding-top: 0px;
   font-size:   60px;
   font-style: normal;
  font-weight: 800px;

  
}
 /* 65% off */
 .section{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    background-attachment: fixed;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
 }
 .section-heading{
   text-align: center;
   font-family: Inter;
   font-style: normal;
   line-height: normal;
 }
 .section-heading h1{
    color: #F00;
    font-size: 88px;
     font-weight: 700;
     line-height: normal;
     margin-bottom: 48px;
 }
 .section-heading p{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
 }
 .section-heading h3{
    color: #070211;
font-size: 48px;
font-weight: 700;
margin-top: 5px;
 }
 .Photo{
    width: 802.9px;
height: 500px;
flex-shrink: 0;
margin: 50px auto;
background-attachment: fixed;
 }
 /* welcome to might night */
 
 .party{
   background-image: url('../Vectorrr.png');
   width: 825%;
   max-width: 1320px;
   height: 600px;
   margin-top: 400px; 
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-position:center ;
   background-repeat: no-repeat;
 }
 .party-text{
padding: 126px;
 }
 .party-img{
 padding-right: 120px;
 }
.party .party-text *{
   margin-bottom: 32px;
}
 .party .party-text h1{
   color: #FFF;
   font-family: Merriweather;
   font-size: 64px;
   font-style: normal;
   font-weight: 525px;
   line-height: 88px;
   letter-spacing: 7.04px; 
}
.btn{
   background-color: #070211;
   color: white;
}
 /* new park hotel */
 .place{
   width: 825%;
   max-width: 1320px;
   height: 482px;
   margin: 120px auto;
   padding: 100px 0px;
   align-items: center;
   text-align: center;
   background-position:center ;
   border: 5px solid aqua;

 }
.place-heading .red{
   color: red;
 }
 .place-heading{
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; 
text-transform: capitalize;
 }
 /* main coming soon main */
 .coming{
   width: 825%;
   max-width: 1320px;
   height: 600px;
   margin-top: 400px; 
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-position:center ;
   background: #FFF;
    }




 